<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sakura.reggieApi.common.mapper.RoleMapper">

    <resultMap id="linkEmpUserQuery" type="com.sakura.reggieApi.common.pojo.Role">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="nameDetail" column="name_detail" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="selectByeIdRoles" resultMap="linkEmpUserQuery">
        select
            id, name, name_detail
        from
            role
        where
            id = (select rid from role_user where eid = #{eid})
    </select>

</mapper>
